<main data-template="site/home" data-id="home">
  <div class="card">
		<div class="imgBox">
			<div class="bark"></div>
			<img src="https://tse1.mm.bing.net/th?id=OIP.crIjNymsOu26eeL8TD2x8QHaHa&pid=Api&P=0&w=300&h=300">
		</div>
		<div class="details">
			<h4 class="color1">Happy teacher Day Sir Kashif</h2>
			<h4 class="color2 margin">Sir you are best teacher of my life</h3>
			<p>Dear Sir,</p>
			<p>You’re the most inspiring</p>
			<p>and caring teacher that</p>
			<p>i have ever had. you are the </p>
			<p>first teacher in my life and</p>
			<p>no one can take your place.</p>
			<p>Thankyou so much Sir Kashif </p>
			<p class="text-right">Happy Teacher's day Sir</p>
		</div>
	</div>
</main>